@charset "ISO-8859-1";

body{
	background:url("../img/background.jpeg");
}

table{
	border:2px solid black;
	font-weight:bold;
	padding:10px;
	margin:auto;
	margin-top:10px;
	margin-left:525px;
	background-color:white;
}

table th h1{
	color:blue;
}

table td{
	padding:10px;
}

table tr td{
	padding:5px;	
}

#btn{
	width:100%;
	padding:10px;
	background-color:lightBlue;
	border:2px solid black;
}